<!DOCTYPE html>
<html>

<head>
  <title>Buka Toko</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <!-- NAVI BAR -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">BukaToko</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Kategori <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Mobil</a></li>
              <li><a href="#">Motor</a></li>
            </ul>
          </li>
        </ul>
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Aku mau belanja...">
          </div>
          <button type="submit" class="btn btn-default"><span class="fa fa-search" aria-hidden="true"></span></button>
        </form>
        <form class="navbar-form navbar-right">
          <button type="submit" class="btn btn-default mrgR">
          <span class="fa fa-shopping-cart" aria-hidden="true"></span>
          </button>
          <button type="submit" class="btn btn-default mrgR">Logout
          </button>
        </form>
      </div>
    </div>
  </nav>

  <!-- Container -->

  <div id="app" class="container-fluid mrgTL">
    <div class="row content">
      <div class="col-sm-3">
        <br>
        <div class="form-group">
          <label for="exampleInputName2">Gratis Kirim</label><select class="form-control">
            <option>Jakarta</option>
            <option>Bandung</option>
            <option>Bogor</option>
            <option>Bekasi</option>
            <option>Depok</option>
          </select>
        </div>
        <hr>
        <div class="form-group">
          <label for="exampleInputName2">Jasa Pengiriman</label><select class="form-control">
            <option>Tiki</option>
            <option>JNE</option>
            <option>POS</option>
          </select>
        </div>
      </div>

      <div class="col-sm-9">
        <div class="container-fluid bg-3 text-center">
          <div class="row">

            <div v-for="todo in todos" class="col-sm-4 mrgT">
              <input type="hidden" v-model="id" value="todo.item_id">
              <input type="hidden" v-model="name" value="todo.item_name">
              <input type="hidden" v-model="price" value="todo.price_item">
              <input type="hidden" v-model="description" value="todo.item_description">
              <div class="panel panel-primary br1">
                <div class="panel-body"><img v-bind:src="todo.img_url" class="img-responsive br1 listImg" style="width:100%" alt="Image"></div>
                <div class="panel-footer list">
                  <div class="caption">
                    <h4>{{ todo.item_name }}</h4>
                    <p>Rp {{ todo.price_item.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,') }}</p>
                  </div>
                  <br>
                  <div class="ratings">
                    <button type="submit " class="btn btn-success btn-lg">Beli
                        </button>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="container-fluid bg-4 text-center">
      <p>Copyright &copy; Buka Toko 2017</p>
    </div>
  </footer>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        todos: [],
        id: '',
        name: '',
        price: 0,
        description: ''
      },
      methods: {
        seedData: function() {
          axios.get('http://localhost:3000/items')
            .then(function(response) {
              app.todos = response.data;
            })
            .catch(function(error) {
              console.log(error);
            });
        },
        saveData: function() {
          axios.post('http://localhost:3000/items', {
              id: app.id,
              name: app.name,
              price: app.price,
              description: app.description
            })
            .then(function(response) {
              app.todos = response.data;
            })
            .catch(function(error) {
              console.log(error);
            });
        }
      },
      created: function() {
        this.seedData();
      }
    })
  </script>
</body>

</html>
